.slds-media__body {
    margin-top: 6px;
}

.tableControls {
    position: relative;
    width: 100%;
}

.refreshBtn {
    position: absolute;
    right: 0.25vw;
    bottom: 0;
}

.tooltip-css  {
    --lwc-spacingXxSmall: 0em !important;
}

.itemTable {
    height: 50vh !important;
    overflow: hidden;
    overflow-y: auto;
}

.tableCSS table thead tr th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.whiteIcon {
    --sds-c-icon-color-foreground-default: white;
}